#wrap{}
#header{}
#section{}
#footer{}


body{font-size:16px;}




.inner{width:1200px; margin:0 auto;}

#header{width:100%;min-width:1200px;padding-top:10px;
        padding-bottom:10px;
        background-color:#000000;
        width:100%; ;
        color:#fff;
        font-size:0.8rem;}
#header:after{content:'';clear:both;display: block;}
#header .header_left{float:left;}
#header .header_left a{font-size:40px;}
#header .header_right{float:right;}
#header .header_right a{
  padding-left:10px; padding-right:10px; margin-top:20px;}
  #header .header_right .web{text-decoration: underline;}
#header .header_right a:last-child{margin-left:30px;}
/*엄마 #header:after{content:' ',display:block;
           clear:both;}*/
 
#header:after{content:'', display:block;
              clear:both;}
#header:before{}
#header .txt_strong{color:yellow; font-weight:bold;}
  


/*********************header****************************/
.sub1_top{margin-left:220px; margin-top:100px;width:100%;}
.sub1_top img{width:calc((100% - 50px)/2.5);
              margin:0 auto;}
.sub1_top .siren{color:red;text-align:center;}
.sub1_top .text_sub{color:#000;}
.sub1_top .text{display:inline-block; margin-left:100px;}
.sub1_btm span{color:black;}


/*********************section****************************/


/*********************footer****************************/
#footer{width:100%;}

#footer a{color:black;border-bottom:1px solid #ccc;}
#footer span{color:black;}
#ft_top .ft_right {float:right; display:block;}
#ft_top .ft_right .sub_box{margin-right:50px;
     margin-bottom:20px;border:1px solid #000; 
     width:300px;}
#ft_top .ft_right .sub_box button{width:100px; height:25px;
      background-color:black; color:#fff;}
#ft_left a{padding-right:10px;}
.ft_bottom{clear:both;}
.ft_bottom .support{}
.ft_bottom .design{margin-left :700px;}
.ft_bottom .border{border-top:0.5px solid #ccc;
     margin-top:20px;padding-top:20px;}